.centerHead {
    padding-top: 3em;
    padding-bottom: 2em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.paragraph {
    padding: 5em;
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 18px;
}

.headcode {
    padding-left: 2em;
    padding-bottom: 4em;
}

.code{
    padding-left: 4em;
    font-family: 'Consolas', sans-serif;
}

.pracHead {
    padding-left: 1.5em;
    padding-top: 3em;
    text-decoration: underline;
}

.codebox{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
}