.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    min-height: 2vh;
}

.head {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    background-color: #0a193d;
}

.headitem {
    margin-right: 13rem;
    margin-top: 1.5rem;
}