.navigation {
    background-color: #0a193d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navImage {
    margin: 1.5em 2em;
}

.navLinksList {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-right: 3em;
}

.navLink {
    padding: 1em 0.25em 4px 0.25em;
    border-bottom: 2px solid white;
}