.main{
  height: 800px;
}

.main h1{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 50px;
}

.main p{
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  font-size: 25px;
}

.line{
  margin: 2em auto;
  border-bottom: 3px solid black;
  width: 100%;
  display: block;
}