.main {
  height: 100%;
  background-color: #334679;
}

.main h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
}

.main p {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 50px;
  font-size: 25px;
}

.main li {
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 50px;
  font-size: 25px;
}

.line {
  margin: 2em auto;
  border-bottom: 3px solid black;
  width: 100%;
  display: block;
}

.choiceArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 4em;
}

.choiceImage {
  padding: 1em;
  border: none;
  border-radius: 60px;
}

.choiceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.main h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.main line {
  background-color: #334679;
}

.listbox {
  padding: 1em;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0 5px 8px rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
  background: linear-gradient(90deg, #7eaaff 0%, #ff48fb 100%, rgba(0, 0, 0, 0.28) 60%);
}

.peopleGrid {
  display: grid;
  padding: 4em;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.peopleGrid p {
  margin: 0;
}